@font-face {
  font-family: "Muro";
  src: url("./assets/fonts/Muro.otf") format(opentype);
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 10px;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  max-width: 100%;
  background: linear-gradient(
    to bottom right,
    #2c2c2c,
    /* Top-left */ #282828,
    /* Top-center */ #2b292a,
    /* Top-right */ #2e2e2e,
    /* Middle-left */ #2c2c2c,
    /* Middle-right */ #2e2c2d,
    /* Bottom-left */ #2d2b2c,
    /* Bottom-center */ #302e2f /* Bottom-right */
  );
  background-color: #2c2c2c;
}

.header {
  text-align: center;
  padding-bottom: 5px;
}

.titleText {
  font-family: "Muro";
  font-size: 40px;
  display: inline;
  margin: 0;
  background: linear-gradient(
    to bottom right,
    #cac7bb,
    #cac7b8,
    #c7c5b8,
    #cbc9ba,
    #cccabc,
    #cbc8bd,
    #cac7b8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.asterisk {
  font-family: "Muro";
  color: #373cb8;
  font-size: 18px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.portolaLogo {
  height: auto;
  display: inline-block;
  margin-left: 5px;
  vertical-align: bottom;
  width: 400px;
}

@media (max-width: 396px) {
  .titleText {
    font-size: 40px;
  }
  .portolaLogo {
    width: 185px;
  }
}

@media (max-width: 427px) and (min-width: 397px) {
  .titleText {
    font-size: 45px;
  }
  .portolaLogo {
    width: 230px;
  }
}

@media (max-width: 455px) and (min-width: 428px) {
  .titleText {
    font-size: 50px;
  }
  .portolaLogo {
    width: 245px;
  }
}
